#groupView{
    margin: 0;
    padding: 0;
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: center; */
    /* justify-content: space-evenly; */
    /* background-color: chartreuse; */
}

#groupView > *{
    margin: 0 17.5%;
    padding: 0;
}

#mainInfo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    padding: 0;
    margin: 0;
    /* border: 2px solid; */
    column-gap: 50px;
    width: 100%;
}

#link{
    margin: 2% 15%
}

#groupViewBody{
    margin: 1% 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: space-around; */
    background-color: lightgray;
}
#groupViewBody > *{
    margin: 1% 10%;
    padding: 0;
}

#leftGroup{
    display: flex;
    flex-direction: column;
}
.imageHolder{
    width:512px;
    border: 2px solid;
    border-radius: 1em;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.imageHolder> img{
    max-height:100%;
    max-width: 100%;
}

#rightGroup{
    display: flex;
    flex-direction: column;
}

#rightGroup > *{
    padding: 0;
    margin: 0;
}

.alignRowMain{
    margin-top: 50px;
    display: flex;
    /* justify-content: center; */
    flex-direction: row;
    column-gap: 5px;
}

.alignRow{
    /* margin-top: 50px; */
    display: flex;
    /* justify-content: center; */
    flex-direction: row;
    column-gap: 5px;
}

.groupButton{
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    width: 150px;
    border: 3px solid;
    background-color: red;
    color: white;
    border-color: black;
    font-size: small;
}

.groupButton:disabled{
    background-color: rgba(255, 0, 0, 0.412);
    color: rgba(255, 255, 255, 0.581);
}

.groupButton:hover:enabled{
    background-color: rgb(194, 0, 0);
}

.eventsPrivacyStatus{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.eventsPrivacyStatus > * {
    margin: 0;
    padding: 0;
}

.manageButton{
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 100px;
    border: 3px solid;
    background-color: darkgray;
    color: white;
    border-color: black;
    font-size: small;
    box-shadow: black 3px 3px;
}
.manageButton:hover{
    cursor: pointer;
    background-color: rgb(151, 151, 151);
}
