#groupView{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    /* background-color: chartreuse; */
}

#groupView > *{
    margin: 0 17.5%;
    padding: 0;
}

#mainInfo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    padding: 10px 0px;
}

#groupViewBody{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: space-around; */
    background-color: lightgray;
}
#groupViewBody > *{
    margin: 1% 10%;
    padding: 0;
}

#leftGroup{
    display: flex;
    flex-direction: column;
}
.imageHolder{
    width:256px;
}

.imageHolder> img{
    height:100%;
}

#rightGroup{
    display: flex;
    flex-direction: column;
}

#rightGroup > *{
    padding: 0;
    margin: 0;
}
